{% extends 'slide.html' %}

{% block slide_content %}
{% load static %}

<div class="container text-left">

<h1>When to use HTMX</h1>
<ul>
<li>A good fit if...</li>
    <ul>
    <li>Your UI is mostly text and images</li>
    <li>Your UI is split into blocks</li>
    <li>You need good first-render performance</li>
    <li>Eg. Twitter, GMail</li>
    </ul>
<li>Not a good fit if...</li>
    <ul>
    <li>You need many dynamic interdependencies (Spreadsheets)</li>
    <li>Your UI state is updated extremely frequently (Following a mouse)</li>
    <li>Eg. Google sheets, Google maps</li>
    </ul>
</ul>
</div>

{% endblock slide_content %}
