{% extends 'slide.html' %}

{% block slide_content %}

<div class="container text-left">

<h1>Further Reading</h1>

<ul>
    <li><a href="https://www.youtube.com/watch?v=3GObi93tjZI">From React to htmx on a real-world SaaS product</a></li>
    <li><a href="https://htmx.org/essays/">HTMX Essays</a></li>
    <li><a href="https://hypermedia.systems/">Hypermedia Systems book</a></li>
    <li><a href="https://ics.uci.edu/~fielding/pubs/dissertation/fielding_dissertation.pdf">Fielding's dissertation</a></li>
    <li>Slides are on GitHub</li>
</ul>

</div>

{% endblock slide_content %}
