{% extends 'slide.html' %}

{% load static %}
{% block slide_content %}

<div class="container text-left">

<h1>The Elephant in the room: Complexity</h1>

<ul>
  <li><a href="https://htmx.org/essays/a-response-to-rich-harris/">A Response to "Have SPAs ruined the web?"</a></li>
  <li>"The javascript ecosystem is simply insanely overly-complicated. Comically so, in fact,
given the requirements of most web applications."</li>
<li>"Sky-high levels of complexity are tolerated in application frameworks, in build tool chains, in deployment models and so on"</li>
<li>"When problems arise due to all this
complexity, more complexity is often offered as the answer"</li>
</ul>

</div>

{% endblock slide_content %}
