{% extends 'base.html' %}

{% block content %}
{% block slide_content %}
{% endblock slide_content%}

<button
class="btn"
id="previous-button"
hx-swap-oob="true"
hx-get="/slide/{{previous_slide_number}}?previous=true"
hx-swap="innerHTML transition:true"
hx-target="#slide-contents"
>
  Previous slide
</button>

<button
class="btn"
id="next-button"
hx-swap-oob="true"
hx-get="/slide/{{next_slide_number}}"
hx-swap="innerHTML transition:true"
hx-target="#slide-contents"
>
  Next slide
</button>
{% endblock content%}
