{% extends 'base.html' %}

{% block content %}

<div class="container mt-4 mb-4">

<nav class="navbar navbar-light bg-light">
    <div class="col-md">
      {% include "previous_slide_button.html" %}
    </div>
    <div class="col-md text-center">
        <h1 class="navbar-nav">HTMX &lt/&gt</h1>
    </div>
    <div class="col-md text-right">
      {% include "next_slide_button.html" %}
    </div>
</nav>

<div id=slide-contents
class="{{ transition_class }} container mt-4 mb-4 text-center"
hx-get="/slide_contents/{{slide_number}}"
hx-swap="outerHTML transition:true"
hx-trigger="load"
>
</div>

{% endblock content %}
